<div x-show="!mostrarMapa" x-transition class="mt-4">
    <!-- Texto de celebración mejorado -->
    <div
        class="bg-white/40 rounded-xl p-3 shadow-lg backdrop-blur-sm max-w-md mx-auto"
    >
        <p class="text-xl md:text-2xl font-bold text-blue-800 mb-1">
            ¡Celebremos juntos el
            <span class="octonauts-title text-4xl text-orange-500">5º</span>
            cumpleaños de
        </p>

        <!-- Nombre destacado -->
        <h1
            class="text-4xl md:text-4xl font-bolder octonauts-title text-orange-500 mb-2 leading-tight inline-block bg-white border-[6px] border-cyan-800 rounded-lg px-4 py-1"
        >
            WILLIAM
        </h1>
    </div>
</div>
